<div id="modal-backdrop" class="hidden"></div>
<div id="create-post-modal" class="hidden">
	<div class="modal-dialogue">
		<div class="modal-header">
			<h3>Create a Listing</h3>
			<button type="button" class="modal-close-button">&times;</button>
		</div>
		<div class="modal-body">
			<div class="post-input-element">
				<label for="post-title-input">Listing Title</label>
				<textarea id="post-title-input"></textarea>
			</div>
			
			<div class="post-input-element">
				<label for="post-author-input">Lister Name/Alias</label>
				<textarea id="post-author-input"></textarea>
			</div>
			
			<div class="post-input-element">
				<label for="post-category-input">Category</label>
				<textarea id="post-category-input"></textarea>
			</div>
			
			<div class="post-input-element">
				<label for="post-location-input">Location</label>
				<textarea id="post-location-input"></textarea>
			</div>
			
			<div class="post-input-element">
				<label for="post-price-input">Asking Price</label>
				<textarea id="post-price-input"></textarea>
			</div>
			
			<div class="post-input-element">
				<label for="post-body-input">Listing Body</label>
				<textarea id="post-body-input"></textarea>
			</div>
			
			<div class="post-input-element">
				<label for="post-phone-input">Phone Number</label>
				<textarea id="post-phone-input"></textarea>
			</div>
			
			<div class="post-input-element">
				<label for="post-email-input">E-mail Address</label>
				<textarea id="post-email-input"></textarea>
			</div>
			
			<div class="post-input-element">
				<label for="post-image1-input">Image 1 URL</label>
				<textarea id="post-image1-input"></textarea>
			</div>
			
			<div class="post-input-element">
				<label for="post-image2-input">Image 2 URL</label>
				<textarea id="post-image2-input"></textarea>
			</div>
			
			<div class="post-input-element">
				<label for="post-image3-input">Image 3 URL</label>
				<textarea id="post-image3-input"></textarea>
			</div>
		</div>
		
		<div class="modal-footer">
			<button type="button" class="modal-cancel-button">Cancel</button>
			<button type="button" class="modal-accept-button">Create Listing</button>
		</div>
	</div>
</div>