<header>
	<a href="/"><h1 class="site-title"><i class="fa fa-globe"></i>kreggslist</h1></a>

	<nav class="navbar">
		<ul class="navlist">
			<li class="navitem navlink"><a href="/">Home</a></li>
			<li class="navitem navbar-search">
				<input type="text" id="navbar-search-input" placeholder="Search...">
				<button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
			</li>
			<li class="navitem navlink"><a href="/about">About Kreggslist</a></li>
			<li class="navitem navlink"><a href="/"><i class="fa fa-upload"></i>Upload</a></li>
		</ul>
	</nav>
</header>