<header class="leftbar">
			<a href="/"><h1 class="site-title"><i class="fa fa-globe"></i> kreggslist</h1></a>

			<nav class="navbar">
				<ul class="navlist">
					<li class="navitem navlink"><a href="/">Home</a></li>
					<br>
					<li class="navitem navlink"><a href="/about">About Kreggslist</a></li>
					<br>
					<li class="navitem navlink"><a href="/faq">FAQ</a></li>
					<br>
				</ul>
			</nav>
		</header>