<header class="leftbar2">

			<nav class="navbar">
				<ul class="navlist">
					<br>
					<li class="navitem navbar-search">
						<input type="text" id="navbar-search-input" placeholder="Search...">
						<button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
					</li>
					<br>
					<li class="navitem navlink">
						<button type="button" id="create-post-button"><i class="fa fa-upload"></i>Upload</button>
					</li>
					<br>
				</ul>
			</nav>
		</header>