<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Kreggslist</title>
		
		<!-- Stylesheet for the font I'm using -->
		<link href="https://fonts.googleapis.com/css?family=Georgia:100,400,700" rel="stylesheet">
		
		<!-- Using the globe icon from fontawesome, so I'm using this stylesheet -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
		
		<link rel="stylesheet" href="/style.css" media="screen">
	</head>
	
	<body>
		{{{body}}}
	</body>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
	<script src="/postTemplate.js"></script>
	<script src="/index.js"></script>
</html>