<main class="error-container">

	<div style="text-align:center">
		<a href="/">
			<h1 class="site-title">
				<i class="fa fa-globe"></i>
				kreggslist
			</h1>
		</a>
	
		<div class="404error">
			<h1>404</h1>
			<br>
			<h3>Page not found!</h3>
		</div>
	</div>
</main>