<main class="error-container">
	<a href="/">
		<h1 class="site-title">
			<i class="fa fa-globe"></i>
			kreggslist
		</h1>
	</a>
	
	<br>
	<h2>404</h2>
	<br>
	<h3>Page not found!</h3>
</main>