{{> header}}

		<main class = "text-container">
			<h1 class="site-title">Welcome to <i class="fa fa-globe"></i> kreggslist!</h1>
			<br>
			<p>
				Kreggslist was created in June of 2017 by Cole Jones as his final project<br>
				for his web development class. Countless hours of work went into the design<br>
				and functionality of the site (okay, so it's probably more like ~25 hours,<br>
				but I don't know, I didn't keep a timer running or anything).
			</p>
			<br>
			<p>
				On Kreggslist, you can post an ad for anything you want, and nobody will buy<br>
				it because it isn't a real website! How thrilling. But really, you can post<br>
				something and it will remain on the site FOREVER (or at least until the server<br>
				is shut off). If you want, you can pretend the site is real, and can contact<br>
				one of the fake sellers at their fake phone number or fake email address, and<br>
				get absolutely no response. Fun!
			</p>
		</main>