{{> header}}

		<main class = "post-container">
			<div class="post">
				<h1 class="site-title">Welcome to <i class="fa fa-globe"></i> kreggslist!</h1>
				<br>
				<p>
					Kreggslist was created in June of 2017 by Cole Jones as his final project
					for his web development class. Countless hours of work went into the design
					and functionality of the site (okay, so it's probably more like ~25 hours,
					but I don't know, I didn't keep a timer running or anything).
				</p>
				<br>
				<p>
					On Kreggslist, you can post an ad for anything you want, and nobody will buy
					it because it isn't a real website! How thrilling. But really, you can post
					something and it will remain on the site FOREVER (or at least until the server
					is shut off). If you want, you can pretend the site is real, and can contact
					one of the fake sellers at their fake phone number or fake email address, and
					get absolutely no response. Fun!
				</p>
			</div>
		</main>
		
{{> footer}}