{{> header}}
		
		<main class = "post-container">
			<div class="post">
				<h1>Frequently Asked Questions</h1>
				<br>
				<br>
				
				<h4><strong>Is this a functional website?</strong></h4>
				<p>
					That really depends on what you consider "functional." Does it work?
					Sure, I guess. You can post your own ads, look at existing ones, and
					navigate through the dynamically rendered site. There's also search
					functionality. How fun is that! On a serious note, no, this isn't
					a real website, just a fun project that I got to work on by myself.
				</p>
				<br>
				<br>
				
				<h4><strong>How long did this site take you to make?</strong></h4>
				<p>
					I'm not really sure exactly how long it took me, since I didn't have
					a timer running or anything. If I had to guess, I would say around
					25 hours. A better way of putting it, I think, is that it took me a
					whole weekend to complete.
				</p>
				<br>
				<br>
				
				<h4><strong>Just exactly how much fun did you have making this site?</strong></h4>
				<p>
					More fun that your mind could possibly comprehend. In all honesty, I
					<strong><em>love</em></strong> working with HTML, CSS, and JS. Handlebars and node.js on the
					other hand, are a pain in the ass, but I enjoyed learning more about
					them and how they work. Being able to serve dynamically rendered web
					pages to a real server (even if the server is just localhost), was a
					really interesting learning experience.
				</p>
			</div>
		</main>
		
{{> footer}}